.row {
    display: flex;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  .col:last-child {
    margin-right: 0;
  }

  :host {
    height: 80vh;
    display: block;
  }

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    
    align-items: center;
    margin-top: 16px;
}

.message-form {
    margin: 16px;
    width: 476px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    &__content-form {
        display: flex;
        flex-direction: column;
    }

    .mat-mdc-card-header {
      justify-content: center;
      padding-bottom: 1rem;
    }
}

